{% extends "bootstrap_layout.html" %}

{% block content %}
    
    <div class="about">
        <h1>Welcome to BabyReader</h1>
        <p>Welcome, parents, to the BabyReader app! We hope to help provide you with some unique insights about your baby.</p>
        
        <h2>About BabyReader</h2>
        <p>While there are plenty of resources new parents can use to gain deeper insights into their child, there is no go-to parenting app that provides and dynamically updates the latest information about children’s names and horoscopes. We developed BabyReader to be a helpful and fun resource parents can revisit over the years to check in on their child’s horoscope and track their child’s name’s popularity throughout history. </p>

        <h3>Your Child's Name</h3>
        <p>A child's name can carry great meaning: it can pay homage to their heritage, memorialize a parent's loved one or relative, or simply reflect a sign of the times. We wanted to offer parents the chance to see how popular their child's name is, as well as help expecting parents decide the perfect name for their newborn. </p>

        <h3>Your Child's Sun Sign</h3>
        <i>“A child is born on that day and at that hour when the celestial rays are in mathematical harmony with his individual karma.” —Sri Yukteswar</i>
        <p>A child's birthday provides their sun sign, which describes their personal nature, mental traits, and general demeanor towards life. It can be a helpful tool to better understand your child as they grow and develop. Our app provides not only custom horoscopes for the twelve sun signs each day, but also for each week, month, and year, so you can know what to expect for your child as your family looks forward to the future.</p>

      </div>

{% endblock %}
